{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Biografía</span>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid avatar" src="{% static 'core/img/avatarr.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading">Facundo Mangioni</h2>   
            <p>Nacido en Mar del Plata, estudié la carrera de Fisica durante algunos años. Allí tuve un vistazo al mundo de la programacion y desde entonces quiero dedicarme a ello.</p>
            <p>Poseo conocimientos de matemática avanzada y física. También cuento con capacidad de análisis y resolución de problemas.</p>
        </div>
    </div>
{% endblock %}